@font-face {
    font-family: abthead;
    src: url(../Fonts/Hansief.otf);
    font-family: para;
    src: url(../Fonts/avenir.ttf);
}
.about{
    background-color:#64C4C3 ;
    height: 100%;
    
}
.title h1{
    margin-left: 60px;
}
html,body{
    overflow-x: hidden;
  }
.title{
    margin-left: 100px;
    font-size: 40px;
    font-family: abthead;
    display: inline;
}
.title img{
    margin-right: 100px;
}
.para{
    margin-left:100px;
    margin-right: 650px;
    font-size: 18px;
    font-family: para;
}
@media screen and (max-width: 768px){
    .container{
      padding: 0 3.2rem
    }
    .title{
        margin-left: 15px;
        font-size: 30px;
        font-family: abthead;
    }
    .para{
        margin-left:30px;
        font-size: 14px;
        margin-right: 1px;
        font-family: para;
    }

  }
