.footer{
    background-color: #005072;
    background-image: url(../Images/arts.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    height: fit-content;
}
.titles{
    margin-left: 850px;
    font-size: 18px;
    color:black;
}
.lin-titl{
    display: inline;
    margin-left: 10px;
    margin-bottom: 100px;
}
.title1{
    margin-right: 90px;
    writing-mode: vertical-rl;
    margin-left: 100px;
}
.wallet{
    display: none;
}
.button{
    border-radius: 10px;
height: 50px;
width: 150px;
background-color:blue;
margin-top: 10px;
margin-left: 1350px;
position: fixed;
font-family: NavItem;
float: right;
}
.links{
    margin-top: 80px;
}
.title2{
    float: right;
}
.links{
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 50px;
    writing-mode: horizontal-tb;
}
.header1{
    width: 500px;
    height: 50px;
    margin-left: 500px;
    margin-top: 200px;
}
.sub-titles{
    margin-bottom: 50px;
}
a.sub-titles:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
a.sub-titles:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a.sub-titles:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
a.sub-titles:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .wallet{
    display: flex;
    margin-top: 220px;
    writing-mode: horizontal-tb;
    background-color: aqua;
    border-radius: 10px;
    width: 50px;
    
        
    }
    .container{
      padding: 0 3.2rem
    }
    .titles{
        margin-left: 0px;
        font-size: 13px;
        color:black;
        margin-right: 50px;
    }
    .title1{
        margin-left: 10px;
    }
    .footer{
        background-size: 380px;
    }
  }
  html,body{
    overflow-x: hidden;
  }
