
@font-face {
    font-family: whyhead;
    src: url(../Fonts/Aviatica.ttf);
    font-family: imgtitle;
    src: url(../Fonts/pophalf.ttf);
}
@keyframes float-inwhy{
    from {
      transform: translateX(-5vh);
    }
    to {
      transform: translateX(0);
    }
  }
.why{
    background-color: #F8D49A;
    height: fit-content;
}
.head-why{
    transition: all 0.6s ease-out;;
    transition-duration: 3s;
    text-align: center;
    font-size: 40px;
    font-family: whyhead;
    margin-bottom: 100px;
}
.head-why p{
    margin: 0;
    opacity: 0;
    
}
section:target p {
    opacity: 1;
  }
.imgs{
    margin-top: 100px;
    margin-left: 150px;
    height: 300px;
    border-radius: 100px;
    border-color: aqua;

}
.imgtitle{
    margin-left: 250px;
    font-size: 30px;
    font-family: imgtitle;
}
.sec,.user{
    float: left;
    margin-right: 90px;
}
.user{
    margin-left: 200px;
    margin-right: 260px;
}

.imgtitle-use{
    text-align: center;
    margin-right: 200px;
}

.imgs,.imgtitle{
    margin-top: 10px;
}
@media screen and (max-width: 768px){
    .head-why{
        text-align: center;
        font-size: 35px;
        font-family: whyhead;
        margin-bottom: 10px;
    }
    .imgs{
        margin-top: 20px;
        margin-left: 30px;
        height: 250px;
        width: 320px;
    }
    .imgtitle{
        display: none;
    }
    
  }