.acc{
    background-color:  #c6f4ff;
    top: 0;
    height: 900;
}
body{
    margin: 0;
}
.buys{
    background-color: #F8D49A;  
    top: 250px;
}
.Sell{
    background-color: aliceblue;
    top: 250px;
    height: 350px;
}
.ports img{
    height: 400;
    width: 200;

}
.Port img{
    height: 400;
    width: 200;
}
.acc img{
    margin-left: 50px;
    border-radius: 80%;
    margin-bottom: 50px;
}
.acc h1{
    margin-right: 1150px;
    margin-top: 30px;
    
}
.acc button{
    border-radius: 5px;
    height: 50px;
    width: 200px;
    background-color: #e8a87c;
    margin-left: 1250px;
    position: fixed;
    font-family: NavItem;
    float: right;
    position:absolute;
    
}
.acc button:active{
    background-color: #c6f4ff;
}

hr{
    line-height: 0px;
}
.buys{
    line-height: 0px;
    height: 350px;
}
.buys h2{
    margin-bottom: 150px;
}
.buys img{
    display: inline-block;
    margin-top: 0;
    padding: 10px;
    height: 275px;
    width: 400px;
    background:whitesmoke;
    border-radius: 10px;
    margin:10px 10px 10px 10px;
}
.Sell h2{
    margin-bottom: 150px;
}
div .acc{
    border-bottom: 10px;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid black;

}
div .buys{
    border-bottom: 10px;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid black;

}
div .Sell{
    border-bottom: 10px;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid black;

}

