@font-face {
    font-family: head;
    src: url(../Components/Fonts/kort.ttf);
}
@keyframes float{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); } 
}
@keyframes typing{
    from { width: 0 }
    to { width: 30% }
}
@keyframes blink-cursor{
    from, to { border-color: transparent }
    10% { border-color: black; }
}

.home{
    background-color: #5193b3;    
}

.p-3 mb-2 bg-info text-white{
    background-color: #c6f4ff;
}
.head{
    color: #2e4e74;
    font-size: 40px;
    font-family:head;
}
.head1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.Main{
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-style:oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Main,.container-xxl{
    margin-top: 10px;
}
.head,.head1,.slogan{
    margin-bottom: 20px;
    text-align: left;
    margin-left: 150px;
    margin-top: 10px;
}
.slogan{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    overflow: hidden; 
    border-right: .15em solid   ;
    white-space: nowrap; 
    margin-right:500px;
    margin-left: 470px; 
    letter-spacing: .15em;
    animation: typing 4.8s steps(40, end),blink-cursor .85s step-end infinite;
    
}
.images{
    float: right;
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    .container{
      padding: 0 3.2rem
    }
    .slogan{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        text-align: center;
        overflow: hidden; 
        border-right: .15em solid ;
        margin: 0px 20px 2px 2px;
        letter-spacing: .15em;
        animation: typing 4.5s steps(20, end),blink-cursor .75s step-end infinite;
        padding: 0 1%;
    }
    .head{
        color: #2e4e74;
        font-size: 35px;
        font-family:head;
        margin-left: 0%;
    }
    .head1{
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-left: 0;
        margin-bottom: 0%;
    }
    .images{
        float: right;
        margin-bottom: 70px;
        margin: 5px 15px 70px 10px;
        height: 10vh;
        width: 8vh;
    }
    .Main{
        margin-bottom: 10px;
        margin-top: 0px;
    }

  }
