@font-face {
    font-family: NavItem;
    src: url(../Components/Fonts/pophalf.ttf);
}
@keyframes float-in{
    from {
      transform: translateY(-5vh);
    }
    to {
      transform: translateY(0);
    }
  }

  .container {
    display: flex;
    flex-direction: row; /* or column */
    justify-content: space-between; /* or other values */
  }
  
  /* Or using CSS Grid */
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
.style{
    background-color: #e3f2fd;
}
.right{
    float: right;
}
.header{
    background-color: blue;
    margin-left: 100px;
    width: fit-content;
}
.first{
    background-color: #c6f4ff;
    padding-left: 0px;
    
}
.navbar navbar-expand-lg bg-body-tertiary,.navbar bg-dark border-bottom border-body{
    background-color: red;
    margin-left: 10px;
}
.items{
    margin-right: 350px;
}
.nav-item{
    animation: 2s linear 0s alternate float-in;
    margin-right: 50px;
    color: blue;
    font-family: NavItem;   
}

   

   
main {
    width: 100%;
}
section {
    top: 2px;
    left: 0;
}
section p {
    margin: 0;
    opacity: 0;
    transition: all 0.6s ease-out;
  }
  section:target p {
    opacity: 1;
  }
.nav-item a:hover{

    background: #2e4e74;
    color: white;
    border-radius: 10px;
    height: 40px;
    margin-top: 5px;
}
.button:hover{
    background: #2e4e74;
    color: white;
}

.button{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: #c6f4ff;
    margin-right: 55px;
    font-family: NavItem;
}
.image,.nav-item{
    margin-left: 10px;
    margin-right:50px;
    
}

