@font-face {
    font-family: NavItem;
    src: url(../Components/Fonts/pophalf.ttf);
}
@keyframes float-in{
    from {
      transform: translateY(-5vh);
    }
    to {
      transform: translateY(0);
    }
  }
  



  html,body{
    overflow-x: hidden;
  }
.first{
    background-color: #c6f4ff;
    padding-left: 0px;   
}
.items{
    margin-right: 350px;
}
.nav-item{
    animation: 2s linear 0s alternate float-in;
    margin-right: 50px;
    color: blue;
    font-family: NavItem;   
}
.nav-item a:hover{

    background: #2e4e74;
    color: white;
    border-radius: 10px;
    height: 35px;
    margin-top: 5px;
}
.button:hover{
    background: #2e4e74;
    color: white;
}
.nav-item a:checked{
    background-color: antiquewhite;
}
.nav ul li a:active{
    background-color: antiquewhite;

}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
  }
.span{
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


.button{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: #c6f4ff;
    margin-right: 55px;
    font-family: NavItem;
}
.image,.nav-item{
    margin-left: 10px;
    margin-right:50px;
    
}
@media screen and (max-width: 768px){
    .navbar1 {
        padding: 5px 5px;
      }
    
      .navbar-nav {
        flex-direction: column;
      }
    
      .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
      }
    .nav{
        width: 100px;
    }
    .header{
        background-color: blue;
        margin-left: 100px;
        width: 100px;
    }
    .container-fluid first,.image{
        height: 20px;
        width: 20px;
    }
    .button{
        border-radius: 10px;
        height: 30px;
        width: 80px;
        background-color: #c6f4ff;
        margin-right: 100px;
        font-family: NavItem;
        font-size: 8px
    }
    .image,.nav-item{
        margin-left: 1px;
        margin-right:2px;
        
    }
    .nav-item{
        animation: 2s linear 0s alternate float-in;
        margin-right: 10px;
        color: blue;
        font-family: NavItem;   
        font-size: xx-large;
    }
    .items{
        margin-right: 0px;
    }
    .first{
        background-color: #c6f4ff;
        margin-right: 0px;
    }
    .nav-item,.button{
        margin-left: 0px;
        margin-right: 0%;
    }

  }

