.typeP{
    background-color: aqua;
    top: 0;
}
.prod{
    margin-top: 100px;
}
p{
    float: right;
}
.Hist{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    counter-gap: 5px;
}
h5{
    margin-left: 250px;
    text-align: center;
    
}
img{
    height: 300px;
    width: 450px;
    margin-right: 30px;
    margin-left: 30px;
    
}
.Hist p{
    align-items: center;
    size: 30px;
}
.typeP button{
    margin-right: 100px;
    align-items: center;
}

body{
    margin: 0px !important;
    line-height: 1;
    top: 0;
}

.main{
    margin-left: 10px;
    margin-right: 200px;
}