.acc{
    background-color:  #c6f4ff;
    top: 0;
    position: absolute;
}
.buys{
    background-color: #F8D49A;  
    top: 250px;
}
.Sell{
    background-color: aliceblue;
    top: 250px;
}

.acc img{
    margin-left: 50px;
    border-radius: 80%;
    margin-bottom: 50px;
}
.acc h1{
    margin-right: 1150px;
    margin-top: 30px;
    
}
.acc button{
    border-radius: 5px;
    height: 50px;
    width: 200px;
    background-color: #e8a87c;
    margin-top: 85px;
    margin-left: 950px;
    position: fixed;
    font-family: NavItem;
    float: right;
    position:absolute;
    
}
.acc button:active{
    background-color: #c6f4ff;
}
.acc p{
    
}
hr{
    line-height: 0px;
}
.buys{
    line-height: 0px;
}
.buys h2{
    margin-bottom: 150px;
}
.Sell h2{
    margin-bottom: 150px;
}
div .acc{
    border-bottom: 10px;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid black;

}
div .buys{
    border-bottom: 10px;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid black;

}
div .Sell{
    border-bottom: 10px;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid black;

}

